html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-style: 16px;
    background-color: #171919;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;

    &:link {
        color: #000000;
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.headline-left {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}

.subtitle {
    display: inline-block;
    /* text-align: left; */

    &__head {
        font-weight: 800;
        font-size: 40px;
        padding-right: 10px;

        span {
            font-weight: 100;
        }
    }
}

.descr {
    display: inline-block;

    &__head {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 40px;
        span {
            font-weight: 100;
        }
    }
}
.holder__star-list {
    display: flex;
    justify-content: flex-start;
    li {
        margin-right: -25px;
    }
}


.headline-right {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    opacity: 0.5;
    padding-right: 103px;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        right: 0;
        top: 50%;
    }
}

.btn {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;

    span {
        background-color: $green;
        padding: 17px 57px 27px 17px;
        display: inline-block;
        margin-left: 19px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #fff;
            top: 45%;
            left: -10px;
        }

        &:after {
            content: '';
            position: absolute;
            background-image: url(../img/arrows-right.svg);
            width: 25px;
            height: 21px;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.title {
    span {
        position: relative;
        display: inline-block;
        font-weight: 800;
        font-size: 200px;
        color: rgba(#fff, 0.02);
        transform: translateX(-49px);
    }

    h3 {
        position: absolute;
        font-size: 80px;
        margin: 0;
        color: #fff;
        top: 0;
        right: -10px;

        &::after {
            content: "";
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: $green;
            z-index: 151;
            top: 0;
            right: 0;
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity {
    input {
        width: 40px;
        height: 42px;
        line-height: 1.65;
        background: inherit;
        color: #fff;
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
        border: none;
        margin-top: -10px;

    }
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    height: 42px;
    color: $green;
    position: absolute;
    right: -10px;
    top: 40px;
    display: flex;
    justify-content: space-between;


    .quantity-button {
        cursor: pointer;
        font-size: 20px;
        font-family: "Trebuchet MS", Helvetica, sans-serif !important;
        line-height: 1.7;
        transform: translateX(-100%);
        user-select: none;
        right: 0;
    }
    .quantity-down{
        margin-right: 16px;
    }
}