    @import "vars";
    @import "libs";
    @import "fonts";
    @import "global";

    .header {
        position: relative;
        height: 100vh;
        font-family: 'Fira Sans', sans-serif;
    }

    .header__slider {
        &-item {
            height: 100vh;
            background-image: url(../img/header-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
    }

    .slider-item__info {
        position: absolute;
        right: 80px;
        bottom: 116px;
        text-align: right;
    }

    .slider-item__info-suptitle {
        margin-bottom: 5px;
    }

    .slider-item__info-suptext {
        margin-bottom: 8px;
    }

    .slider-item__info-title {
        font-weight: 800;
        font-size: 80px;
        line-height: 86px;
        margin-bottom: 48px;
    }

    .slider-item__info-text {
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 15px;
    }

    .slider-arrows {
        position: absolute;
        top: 40px;
        right: 80px;
        cursor: pointer;
        z-index: 5;
    }

    .slider-arrows__left {
        right: 125px;
    }

    .slider-dotshead {
        position: absolute;
        max-width: 920px;
        width: 100%;
        right: 50px;
        bottom: 30px;

        .slick-current {
            .dots-box {
                &:before {
                    background-color: $green;
                }
            }
        }
    }

    .dots-box {
        width: 200px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        text-transform: capitalize;

        &__number {
            font-weight: 800;
            font-size: 24px;
            line-height: 34px;
        }

        &__name {
            font-weight: 300;
            line-height: 19px;
        }

        &:before {
            content: '';
            background-color: #ffffff;
            position: absolute;
            width: 200px;
            height: 4px;
            top: 0;
        }

        /* 	&:hover::before{
	background-color:#4AF6CD;
	transition:0.7s linear;
	} */
    }

    .header__title {
        position: absolute;
        top: 0;
        left: 0;
        height: 312px;
        max-width: 467px;
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        opacity: 0.07;
        z-index: 5;
    }

    .header__aside {
        position: absolute;
        height: 100vh;
        text-align: center;
        top: 0;
        left: 0;
        z-index: 10;
        border-right: 1px solid rgba(#fff, .25);
        text-transform: capitalize;

        .menu {
            &__list {
                padding-top: 70px;

                a {
                    color: #FFFFFF;
                    margin-bottom: 25px;

                    span {
                        display: block;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 3px;
                        padding-top: 6px;
                    }
                }
            }
        }

        .header__search {
            margin-bottom: 20px;
            cursor: pointer;
        }

        .header__data {
            font-weight: 800;
            font-size: 72px;
            line-height: 64px;

            span {
                display: block;
                padding-top: 15px;
                height: 19px;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 1.4px;
                margin-bottom: 20px;
            }
        }

        .header__location {
            display: inline-block;
            position: relative;
            margin-bottom: 47px;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.05px;
            padding-left: 19px;

            &:before {
                content: '';
                position: absolute;
                width: 11px;
                height: 13px;
                background-image: url('../img/marker.svg');
                left: 0;
                top: 0;
            }
        }
    }

    .header__arrows {
        position: absolute;
        bottom: 25px;
        left: 210px;
        z-index: 15;
    }

    .header__map {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }

    .line-animation {
        stroke-dashoffset: 600;
        stroke-dasharray: 600;
        animation: animdash 2s infinite 4s;
    }

    @keyframes animdash {
        to {
            stroke-dashoffset: 0;
            ;
        }
    }

    /* Surf */

    .serf {
        padding: 157px 0 277px;
        background-image: url('../img/serf-bg.png');
        background-repeat: no-repeat;
        background-position: right 218px;
        background-size: auto;
    }

    .serf__subtitle {
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }

    .serf-slider {
        padding-top: 110px;

        .slider-arrows {
            top: 58px;
            opacity: 0.25;
        }

        .slick-slide:nth-child(4n+1) {
            .serf-box {
                margin-top: 32px;
            }
        }

        .slick-slide:nth-child(4n+3) {
            .serf-box {
                margin-top: 89px;
            }
        }

        .slick-current {
            .serf-box__inner {
                background: rgba(#1C2121, 0.3);

                &-btn {
                    display: block;
                }
            }
        }
    }

    .serf-box {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 400px;

        &__inner {
            min-height: 750px;
            background: rgba(#1C2121, 0.85);
            position: relative;
            padding-left: 40px;
            transition: all .5s;

            &:hover {
                background: rgba(#1C2121, 0.3);

                .serf-box__inner-btn {
                    display: block;
                }
            }

            &-title {
                font-weight: 800;
                font-size: 40px;
                line-height: 36px;
                padding-top: 70px;
                max-width: 140px;
            }

            &-location {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 8px;
                transform: rotate(-90deg);
                position: absolute;
                width: 0;
                height: 0;
                left: 40px;
                bottom: 80px;
                white-space: nowrap;
                ;

                span {
                    font-weight: 100;
                }
            }

            &-btn {
                a {
                    color: #fff;
                }

                bottom: 0;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                display: none;
            }
        }
    }

    .slider-map {
        background-image: url(../img/worldMapDots.svg);
        max-width: 1200px;
        min-height: 635px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;

        .slick-current {
            position: relative;

            .slider-dots__content {
                display: block;
                width: 283px;
                height: 216px;
                padding: 28px 31px 31px 32px;
                background: rgba(#0F1010, .7);
                position: absolute;
                border-radius: 6px;
                top: -225px;
                left: -126px;
                &:before{
                    content: '';
                    position: absolute;
                    bottom: -18px;
                    left: calc(44% + 1px);
                    border-bottom: 20px solid $green;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                &-row {
                    display: flex;
                    justify-content: space-between;
                }

                &-head {

                    margin-bottom: 30px;
                }

                &-title {
                    position: relative;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 26px;
                    padding-bottom: 8px;
                    margin-bottom: 8px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 80px;
                        height: 1px;
                        background-color: $green;
                        bottom:0;
                        left: 0;
                    }
                }

                &-subtitle {
                    line-height: 19px;
                }
                &-item{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    text-align: center;
                }
                &-number {
                    font-weight: 800;
                    line-height: 23px;
                    margin-top: 8px;
                    margin-bottom: 4px;
                }

                &-name {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }

        .slick-list {
            min-height: 635px;
        }

        .slider-dots__circle {
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background-color: $green;
        }

        .slider-dots__content {
            display: none;
        }

        .slider-dots {
            position: relative;
        }

        .slider-dots--1 {
            top: 330px;
            .slider-dots__content {
                left: 0;
                &::before{
                    left: 0;
                }
            }
        }

        .slider-dots--2 {
            top: 285px;
            left: -15px;
            .slider-dots__circle {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 17px;
                    background-image: url(../img/mini-marper.png);
                    background-size: cover;
                    top: -22px;
                    left: 22px;
                }
            }

        }

        .slider-dots--3 {
            top: 320px;
            left: 30px;
        }

        .slider-dots--4 {
            top: 500px;
            left: -40px;
        }

        .slider-dots--5 {
            top: 210px;
            left: -70px;
        }

        .slider-dots--6 {
            top: 550px;
            left: -115px;
        }

        .slider-dots--7 {
            top: 395px;
            left: -100px;
        }

        .slider-dots--8 {
            top: 530px;
            left: 25px;
            .slider-dots__content {
                top: -225px;
                left: -165px;
                &::before{
                    left: 165px;
                }
            }
        }
    }


/* TRAVEL */
.travel{
    padding-bottom: 310px;
    background-image: url('../img/cocktail.png');
    box-sizing: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    &-slider__subtitle {
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }
    &-slider__head{
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }


}




    @import "media"